/* стили для заголовка 1 уровня */
h1 {
    color: blueviolet;
    background-color: antiquewhite;
    border: 3px solid red;
}

h2 {
    color: brown;
    background-color: darkcyan;
    /* толщина 2пикс сплошная граница синего цвета */
    border: 2px dotted blue;
}

p {
    color: blue;
    background-color: crimson;
    border: 2px solid green;
}

.head-2 {
    color: darkblue;
}

/* #head-id-2 {
    color: #ff0000;
} */

.user {
    background-color: aqua;
}

.user h3 {
    background-color: blue;
}

.user p {
    background-color: darkcyan;
}