body {
    background-color: rgb(208, 246, 234);
}

.hidden {
    display: none;
    /* color: rgb(248, 186, 186) */
}

.error {
    color: red;
}

.box {
    /* display: block; */
    background-color: azure;
    color: blueviolet;
    padding: 10px;
    margin: 10px;
    border: 3px solid rgb(173, 131, 96);
    border-radius: 8px;
    transition: all 0.5s;
}

.box:hover {
    border: 3px solid rgb(127, 156, 249);
}

img {
    width: 600px;
}

/* buttons-container */
.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    gap: 10px;
    background-color: aliceblue;
}

.buttons-container .button {
    padding: 5px 15px;
}

/* content-container */
.content-container {
    background-color: aliceblue;
    padding: 20px;
}

.content-container img {
    width: 100%;
}